__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class
*.so
dist/
*.egg-info/
*.egg
.eggs/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
cov.xml
.coverage
*.db
*.sqlite
site/
.DS_Store
node_modules/
data/
!tests/data/
